@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors Palette */
  --primary: #063a71;
  --primary-light: #09529f;
  --primary-dark: #074483;
  --secondary: #0d47a1;
  --secondary-light: #287ad0;
  --secondary-dark: #022e5c;
  --grey: #9e9e9e;
  --grey-light: #cfcfcf;
  --grey-dark: #707070;
  --grey-darker: #303030;
  --grey-darkest: #212121;
  --white: #ffffff;
  --full-black: #000000;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: #02072b;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #086cc2;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown_sub:hover .dropdown_sub-menu {
  display: block;
}

li {
  list-style: none;
}

@keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

.waves {
  -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
}

.wave-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.wave-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.wave-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
